[Unit]
Description=Airframes Decoder Client
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10
ExecStartPre=/bin/mkdir -p /var/log/airframes /var/run/airframes
ExecStart=/usr/local/airframes/adc/venv/bin/adc

[Install]
WantedBy=multi-user.target
