Source: airframes-client
Section: unknown
Priority: optional
Maintainer: Kevin Elliott <kevin@airframes.io>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/airframesio/airframes-client
#Vcs-Browser: https://salsa.debian.org/debian/airframes-client
#Vcs-Git: https://salsa.debian.org/debian/airframes-client.git

Package: airframes-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: Decoder and API clients for airframes.io
 Airframes Client contains the Airframes Decoder Client and
 the Airframes API Client.
