Package: airframes-client
Version: 1.0
Architecture: all
Maintainer: Kevin Elliott <kevin@airframes.io>
Depends: python3.8
Installed-Size: 150
Homepage: https://github.com/airframesio/airframes-client
Description: Decoder and API clients for airframes.io
 Airframes Client contains the Airframes Decoder Client and
 the Airframes API Client.